@model IEnumerable<Cotizaciones.Models.Cotizacion>
@{
    ViewData["Title"] = "Busqueda cotizaciones";
}

<h2>Busqueda de Cotizaciones</h2>     
    <form id="form1" runat="server">
                      Ingrese RUT con Guion y DV:
                      <input type="text" id="txtRut" name="Rut" value="" />
                       
                      <asp:Button Text="Submit" runat="server" OnClick="Submit" />
                  </form>



<table class="table">
    <thead>
        <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreProductor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fechaValidez)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.costo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)
                </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreProductor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaValidez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            
        </tr>
}
    </tbody>
</table>